html,body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.clear{
    clear: both;
}

.hidden{
    display: none;
}

#container{
    width: 800px;
    margin: auto;
}

textarea{
    font-family: "Courier New",monospace;
    font-size: 13px;
}

#dropzone{
    border: 1px dashed #427fb7;
    margin: 10px 0;
    padding: 10px;
}

#dropzone.over{
    border: 1px dashed #fb9b00;
    box-shadow: 0 0 10px rgba(251, 155, 0, 0.5);
}

#dropzone.over .selector{
    pointer-events: none;
}

#dropzone .selector{
    float: right;
}

#filemanager{
    position: relative;    
}

#filemanager .panel{
    border: 1px solid silver;
}

.caption{
    background-color: #427fb7;
    color: white;
    padding: 4px;
}

.caption.amiga{
    background-image: url("../img/amiga.svg");
    background-size: 20px 16px;
    background-position: 2px 4px;
    background-repeat: no-repeat;

    padding: 4px 4px 4px 24px;
}

#filemanager.disk .caption .diskmenu{
    display: initial;
}

.caption .diskmenu{
    float: right;
    color: rgba(255, 255, 255, 0.7);
    padding-right: 4px;
    display: none;
}

.caption .diskmenu b{
    color: white;
    font-weight: normal;
}

.caption .diskmenu .fa-download{
    padding-left: 10px;    
}

.caption .diskmenu .fa-download:hover{
    color: white;
    cursor: pointer;
}

.diskheader{
    position: relative;
    border-bottom: 1px solid silver;
    min-height: 24px;
}

.diskheader .button{
    display: inline-block;
    position: absolute;
    padding: 4px;
    background-color: #c0d2dc;
}

.diskheader .button:hover{
    cursor: pointer;
    background-color: #d5e8f2;
}

.diskheader .itemlabel{
    padding: 4px 4px 4px 44px;
    min-height: 24px;
}

.diskheader .button.right{
    right: 0;
}

.diskheader .inline,
.diskheader .button.inline{
    display: inline-block;
    padding: 2px 4px;
    position: relative;
}

.diskheader input{
    width: 50px;
    text-align: center;
    border: 0;
    display: inline-block;
}

#list,
#hex,
#sectorhex{
    height: 400px;
    width: 500px;
    overflow: scroll;
    position: absolute;
}


#fileinfo,
#ascii,
#sectorascii{
    width: 300px;
    height: 400px;
    float: right;
    background-color: #f8f8f8;
    border-left: 1px solid silver;
    padding: 4px;
    font-size: 12px;
}

#hex.ascii{
    display: none;
}
#ascii.ascii{
   width: 800px;
}

#fileinfo h3{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#fileinfo h4{
    margin: 10px 0 4px 0;
    padding: 0 0 2px 0;
    font-size: 12px;
    border-bottom: 1px solid silver;
}

#fileinfo .info{
    padding: 4px 4px 4px 20px;
}

#fileinfo td{
    font-size: 12px;
    border-bottom: 1px solid silver;
}

#fileinfo .action{
    padding: 2px 0;
    color: #427fb7;
}

#fileinfo .action:hover{
    cursor: pointer;
    color: #079bd7;
    text-decoration: underline;
}

.listitem{
    padding: 4px 8px;
    border-bottom: 1px solid silver;
}

.listitem i{
    display: inline-block;
    width: 20px;
    color: #427fb7;
}

.listitem.DIR i{
    color: #dcc200;
}

.listitem .label{
    display: inline-block;
    width: 200px;
}

.listitem.DIR{
    background-color: #F5f5f5;
}

.listitem:hover{
    cursor: pointer;
    border-bottom: 1px solid #485f74;
    background-color: #deebf5;
}

#feedback{
    border: 1px dashed #ff7405;
    margin: 10px 0;
    padding: 10px;
}

.footer{
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #427fb7;
}

.footer a{
    color: #427fb7;
    text-decoration: underline;
}

#feedback,
#folder,
#file,
#raw{
    display: none;
}

#filetypeactions{
    padding: 4px 0;
    margin: 4px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

#filetypeactions .action{
    text-transform: capitalize;
}


#filemanager #modaldialog{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
}

#filemanager #modaldialog.active{
    display: block;
}

#filemanager #modaldialog .dialog{
    margin: 20px auto;
    border: 1px solid silver;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 100%;
}

#filemanager #modaldialog .dialog #dialogtitle{
    background-color: #e8e8e8;
    padding: 4px;
    font-size: 14px;
    margin: 0;
}

#filemanager #modaldialog .dialog .content{
    background-color: #fafafa;
    padding: 20px;
    min-height: 100px;
}

#filemanager #modaldialog .dialog .inputbox{
    width: 100%;
    padding: 8px;
    border: 1px solid silver;
    text-align: center;
    margin-top: 10px;
}

#filemanager #modaldialog .dialog .buttons{
    text-align: center;
    padding: 8px;
    background-color: #f6f6f6;
}

#filemanager #modaldialog .dialog .buttons .btn{
    border: 1px solid silver;
    text-align: center;
    padding: 10px 20px;
    background-color: #eeeeee;
    margin: 2px 12px;
    display: inline-block;
    min-width: 100px;
}

#filemanager #modaldialog .dialog .buttons .btn:hover{
    background-color: white;
    cursor: pointer;
}


